@use 'colours';
@use 'variables';

body, html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: colours.$light;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1vh solid colours.$primary;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    
    overflow-x: hidden;
    scroll-behavior: smooth;

    &.with-nav {
        height: calc(100% - variables.$navbar_height - 2vh);
        width: calc(100% - 2vh);
        position: absolute;
        top: calc(variables.$navbar_height + 1vh);
        left: 1vh;
    }

    &.v-centre {
        height: 100%;
        width: 100%;
        align-items: center;
        position: absolute;
        top: 0;
        left: 1vh;
    }

    &.h-centre {
        width: 100%;
        justify-content: center;
    }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: darken(colours.$light, 5%); 
}
 
::-webkit-scrollbar-thumb {
  background: darken(colours.$primary, 10%); 
}

::-webkit-scrollbar-thumb:hover {
  background: colours.$dark; 
}

*:target {
  animation: targetFlash 2s;
  animation-delay: .5s;
  border-radius: 4px;
}

@keyframes targetFlash {
  0% { background-color: transparent; }
  20% { background-color: darken(colours.$light, 10%); padding: 20px; }
  30% { background-color: transparent; }
  40% { background-color: darken(colours.$light, 10%); padding: 20px; }
  50% { background-color: transparent; }
  60% { background-color: darken(colours.$light, 10%); padding: 20px; }
  70% { background-color: transparent; }
}