@use 'colours';
@use 'variables';

nav {
    width: 100%;
    height: variables.$navbar_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .nav-brand {
        img {
            width: 80px;
        }
        display: block;
        height: 80px;
    }

    .nav-right {
        margin-right: variables.$container_margin;
        margin-left: auto;
    }

    .nav-left {
        margin-left: variables.$container_margin;
        margin-right: auto;
    }

    .nav-burger {
        display: none !important;

        i {
            font-size: 40px;
            color: colours.$primary;
        }
    }
}

.nav-item {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: colours.$primary;
    position: relative;
    display: inline-block;
    z-index: 100;
    margin: 0 8px;
    padding: 5px;

    i {
        color: colours.$primary;
    }

    &:after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -8%;
        transition: all .1s ease;
        transform-origin: bottom left;
        border-radius: 4px;
        z-index: -1;
        opacity: 0;
    }

    &:hover:after, &.active:after {
        height: 120%;
        background-color: darken(colours.$light, 10%);
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .nav-menu {
        position: fixed !important;
        z-index: 1000;
        top: 100vh;
        left: 0;
        overflow-x: hidden;
        transition: all .2s;
        height: 100vh !important;
        width: 100vw !important;
        background-color: colours.$light;
        margin: 0;
        display: block !important;
        padding-top: 40px;
        border-top: 1vh solid colours.$primary;

        .nav-item {
            padding: 20px;
            margin-left: 5vw;
            margin-right: 5vw;
            margin-top: 10px;
            display: block;
            transition: all .1s;
            height: auto;
            text-align: left;

            &:after {
                transition: none !important;
            }
        }

        .btn {
            margin: 20px;
            margin-left: 14vw;
        }

        &.open {
            top: 120px;
        }
    }

    .nav-burger {
        display: inline-block !important;
    }
}